name: Alex Recommends

on: pull_request

jobs:
  alex:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.3
      - name: Use Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 12.x

        if: ${{ github.actor != 'dependabot[bot]' || 'github-actions[bot]' }}
      - name: Comment on new PR
        uses: brown-ccv/alex-recommends@v1.2.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message_id: 'alex'
          no_binary: false
          profanity_sureness: 2
          pr_only: false
          glob_pattern: 'services/**'
