name: Check Spelling
on:
  pull_request: null
  push: null
jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.0
      - uses: streetsidesoftware/cspell-action@v6.8.1
