name: File Check

on: [pull_request]

jobs:
  file_existence:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.0

      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@v3.0.0
        with:
          files: '.env.template'

      - name: File exists
        if: steps.check_files.outputs.files_exists == 'true'
        run: echo .env.template exists!
