name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.1
      - uses: actions/setup-node@v3.6.0
        with:
          cache: yarn

      - run: yarn
      - run: yarn run lint-ci
